/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
$primary: mat-palette($mat-indigo,
500);
$accent: mat-palette($mat-cyan,
500,
A200,
A400);
$warn: mat-palette($mat-red,
500);
$config: mat-typography-config();
@include mat-core($config);
$theme: mat-light-theme($primary,
$accent,
$warn);
@include angular-material-theme($theme);
body {
    font-family: mat-font-family($config);
    font-weight: normal;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

html {
    height: 100%;
}

// body {
//     margin: 0;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
// }